/* =====================
 Common CSS 
=====================*/

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
}
.container {
  margin: 0 auto;
  width: 1050px;
}

/* =====================
      Header Section CSS 
=====================*/

header {
  display: flex;
  background-color: #2d25a0;
}
.hero-area-text {
  width: 50%;
  animation: slide-up 1s ease-out normal none;
  animation-play-state: running;
}
@keyframes slide-up {
  0% {
    position: relative;
    bottom: -500px;
  }
  50% {
    position: relative;
    bottom: 50px;
  }
  100% {
    position: relative;
    bottom: 0;
  }
}
.hero-area-text h1 {
  margin-top: 207px;
  margin-left: 156px;
  color: white;
  font-size: 64px;
  margin-bottom: 37px;
}
.hero-area-text a {
  margin-left: 156px;
  text-decoration: none;
  background-color: #e02c6d;
  color: white;
  padding: 10px 24px;
  transition: color 0.3s, background-color 0.3s;
}
.hero-area-text a:hover {
  color: #e02c6d;
  background-color: white;
}
.hero-area-text a i {
  margin-left: 8px;
}
.hero-area-img {
  width: 50%;
  padding-top: 153px;
  padding-bottom: 86px;
}
.hero-area-img img {
  width: 80%;
  animation: slide-down 1s ease-out normal none;
  animation-play-state: running;
  transition: transform 0.5s;
}
header:hover .hero-area-img img {
  transform: scale(1.05);
}
@keyframes slide-down {
  0% {
    position: relative;
    top: -500px;
  }
  50% {
    position: relative;
    top: 50px;
  }
  100% {
    position: relative;
    top: 0;
  }
}

/* =====================
      Player details section CSS 
=====================*/

.player-details {
  margin-top: 70px;
}
.player-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
}
.player-box {
  padding: 15px 15px 33px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  transition: all 0.5s;
}
.player-box:hover {
  transform: translate(0px, -10px) scale(1.02);
  cursor: pointer;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
}
.player-img {
  margin-bottom: 16px;
}
.player-img img {
  width: 100%;
}
.player-data h2 {
  margin-bottom: 10px;
  font-size: 28px;
  color: #18191f;
}
.player-data p {
  color: #6c6c6c;
  line-height: 26px;
  font-size: 16px;
}

/* =====================
      Highlight area CSS 
 =====================*/

.highlight-area {
  margin-top: 165px;
  display: flex;
}
.highlight-content {
  width: 50%;
  margin-top: 59px;
}
.highlight-content h2 {
  font-size: 48px;
  margin-bottom: 8px;
  line-height: 60px;
}
.highlight-content p {
  margin-bottom: 34px;
  color: #6c6c6c;
  width: 80%;
  line-height: 28px;
}
.highlight-content a {
  text-decoration: none;
  background-color: #e02c6d;
  color: white;
  padding: 10px 24px;
  transition: color 0.3s, background-color 0.3s, border 0.3s, padding 0.3s;
}
.highlight-content a:hover {
  color: #e02c6d;
  background-color: white;
  border: 2px solid#e02c6d;
  padding: 8px 22px;
}
.highlight-img {
  width: 50%;
  transition: all 0.5s;
}
.highlight-img:hover {
  transform: translate(0px, -15px);
}
.highlight-img img {
  width: 100%;
}

/* =====================
      Latest News CSS 
=====================*/

.latest-news {
  margin-top: 100px;
}
.latest-news h2 {
  margin-bottom: 40px;
  font-size: 30px;
  color: #2d25a0;
}
.latest-news-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
}
.latest-news-box {
  padding: 13px 13px 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.latest-news-img img {
  width: 100%;
  object-fit: cover;
  height: 189px;
}
.latest-news-text h2 {
  margin-bottom: 10px;
  color: #18191f;
  font-size: 28px;
}
.latest-news-text p {
  color: #6c6c6c;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: justify;
}
.latest-news-text a {
  text-decoration: none;
  background-color: #e02c6d;
  color: white;
  padding: 10px 24px;
  float: right;
}
.latest-news-text a:hover {
  color: #e02c6d;
  background-color: white;
  border: 2px solid#e02c6d;
  padding: 8px 22px;
}

/*====================
 Fixture section css 
 =====================*/

.fixture{
  margin-top: 100px;
}
.fixture h2{
  margin-bottom: 40px;
  font-size: 30px;
  color: #2d25a0;
}
.fixture-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
}

.fixture-content {
  display: flex;
  justify-content: space-between;
  background-color: #2d25a0;
  padding: 15px;
}
.fixture-content h4 {
  margin: 0 5px;
  color: white;
}
.team-info h3 {
  color: white;
}
.team-img img {
  width: 100px;
  height: 60px;
}

/* =====================
 Footer section CSS 
 =====================*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 165px;
  margin-bottom: 63px;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-logo img {
  width: 483.87px;
  height: 110px;
}
.social-media-link {
  margin-bottom: 20px;
}
.social-media-link i {
  color: #969bab;
  background: #0b0d170e;
  padding: 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 0.5s;
}
.social-media-link i:hover {
  color: white;
  background-color: #2d25a0;
  cursor: pointer;
  transform: scale(1.2);
}
.social-media-link a {
  margin-right: 14px;
}
.social-media-link a:last-child {
  margin-right: 0px;
}

.copyright p {
  font-size: 18px;
  font-weight: 500px;
}

/* =====================
    Responsive CSS / Media Query 
=====================*/

/* Common Responsive CSS */
@media (max-width: 1050px) {
  .container {
    width: 90%;
  }
}

/* =====================
      tablet mode  
=====================*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 85%;
  }
  .hero-area-text h1 {
    margin-top: 90px;
    margin-left: 30px;
    font-size: 40px;
    margin-bottom: 37px;
  }
  .hero-area-text a {
    margin-left: 30px;
  }
  .hero-area-img {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .hero-area-img img {
    width: 90%;
  }
  .player-content {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
  .highlight-content {
    margin-top: 0px;
  }
  .highlight-content h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .highlight-content p {
    margin-bottom: 15px;
  }
  .latest-news-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
  .latest-news-box {
    width: auto;
  }
  .latest-news-text h2 {
    font-size: 20px;
  }
  .fixture-details {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* =====================
      mobile device 
=====================*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 85%;
  }
  header {
    flex-direction: column;
    align-items: center;
  }
  .hero-area-text {
    width: 90%;
  }
  .hero-area-text h1 {
    margin-top: 90px;
    margin-left: 0px;
    font-size: 36px;
    margin-bottom: 37px;
  }
  .hero-area-text a {
    margin-left: 0px;
  }
  .hero-area-img {
    width: 90%;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .hero-area-img img {
    width: 100%;
  }
  .player-content {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .player-box {
    width: 300px;
  }
  .highlight-area {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  .highlight-content,
  .highlight-img {
    margin-top: 0px;
    width: 100%;
  }
  .highlight-img {
    margin-top: 50px;
  }
  .highlight-content h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .highlight-content p {
    margin-bottom: 15px;
  }
  .latest-news-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
    justify-items: center;
  }
  .latest-news-box {
    width: 330px;
  }
  .latest-news-text h2 {
    font-size: 20px;
  }
  .fixture-details {
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    margin-top: 100px;
  }
  .footer-logo img {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  /* animation responsive */

  @keyframes slide-up {
    0% {
      position: relative;
      left: -500px;
    }
    50% {
      position: relative;
      left: 50px;
    }
    100% {
      position: relative;
      left: 0;
    }
  }
  @keyframes slide-down {
    0% {
      position: relative;
      right: -500px;
    }
    50% {
      position: relative;
      right: 50px;
    }
    100% {
      position: relative;
      right: 0;
    }
  }
}

/* =====================
      for small device 
=====================*/

@media only screen and (min-width: 200px) and (max-width: 479px) {
  .container {
    width: 90%;
  }
  header {
    flex-direction: column;
    align-items: center;
  }
  .hero-area-text {
    width: 90%;
  }
  .hero-area-text h1 {
    margin-top: 90px;
    margin-left: 0px;
    font-size: 36px;
    margin-bottom: 37px;
  }
  .hero-area-text a {
    margin-left: 0px;
  }
  .hero-area-img {
    width: 90%;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .hero-area-img img {
    width: 100%;
  }
  .player-content {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .player-box {
    width: auto;
  }
  .highlight-area {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  .highlight-content,
  .highlight-img {
    margin-top: 0px;
    width: 100%;
  }
  .highlight-img {
    margin-top: 50px;
  }
  .highlight-content h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .highlight-content p {
    margin-bottom: 15px;
  }
  .latest-news-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
    justify-items: center;
  }
  .latest-news-box {
    width: auto;
  }
  .latest-news-text h2 {
    font-size: 20px;
  }
  .fixture-details {
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    margin-top: 100px;
  }
  .footer-logo img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  /* animation responsive */

  @keyframes slide-up {
    0% {
      position: relative;
      left: -500px;
    }
    50% {
      position: relative;
      left: 50px;
    }
    100% {
      position: relative;
      left: 0;
    }
  }
  @keyframes slide-down {
    0% {
      position: relative;
      right: -500px;
    }
    50% {
      position: relative;
      right: 50px;
    }
    100% {
      position: relative;
      right: 0;
    }
  }
}